<launch>
  <param name="robot_description" textfile="$(find ve026a_description)/ve026a_iman2.urdf"/>
  
  <rosparam command="load" file="$(find ve026a_driver)/config/joints_zeros.yaml" />
  <node name="ve026a_states_publisher" pkg="ve026a_driver" type="ve026a_states_publisher" output="screen"/>
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ve026a_description)/launch/joint_simulation.rviz" />
</launch>
