<launch>
  <!--arg name="robot_name" default="ve026a"/-->
  <arg name="robot_name" default=""/>

  <param name="robot_description" textfile="$(find ve026a_description)/ve026a.urdf"/>

  <!-- Controller -->
  <node name="ve026a_robot_control" pkg="ve026a_ros_control" type="ve026a_ros_control"
        output="screen" ns="/$(arg robot_name)"/>

  <rosparam file="$(find ve026a_description)/denso_robot_control.yaml" command="load">
  </rosparam>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/$(arg robot_name)" args="joint_state_controller arm_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/$(arg robot_name)/joint_states"/>
  </node>

</launch>
